@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Lobster", cursive;
}

body {
  background-color: #fefefe;
  font-size: 16px;
  color: #111;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Lobster", cursive;
}

header {
  z-index: 90;
  position: fixed;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  background-color: #fefefe;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 3.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #80b380;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  height: 100vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 2.5em;
  text-align: center;
}

.bar {
  display: block;
  width: 25px;
  height: 1.3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #111;
}

#hamburger-button {
  background-color: transparent;
  border: none;
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  padding: 1em;
}

.nav-link {
  font-weight: 500;
  color: #fff;
}

.nav-link:hover {
  color: #6187d8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid #ccc;
}

.nav-logo {
  margin: 0 auto;
}

.nav-logo {
  font-size: 1.3em;
  font-weight: 500;
  color: #111;
  z-index: 4;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 10;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #6187d8;
}

section {
  height: 100vh;
  border: 10px solid steelblue;
}

.block {
  margin: 1em 10vw;
  padding: 0 10vw;
}

@media only screen and (min-width: 1020px) {
  header {
    z-index: 90;
    position: fixed;
    width: 100%;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.5rem;
    background-color: transparent;
    height: 4em;
  }
  .nav-scrolled {
    color: #111;
    background: #fefefe;
    -webkit-box-shadow: 0 3px 20px rgba(17, 17, 17, 0.2);
            box-shadow: 0 3px 20px rgba(17, 17, 17, 0.2);
  }
  .nav-scrolled a {
    color: #111;
  }
  .nav-link {
    color: #fefefe;
  }
  .hamburger {
    display: none;
  }
  .nav-logo {
    font-size: 1.5em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #fefefe;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    text-align: center;
    height: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 40%;
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=style.css.map */